.buffer {
  height: 50px;
}

.title > div {
  font-family: "Univers LT W01 75 Black";
  font-weight: none;
  height: 50px;
}

.navigation > div {
  height: 25px;
}

.nav {
  font-family: 'Apollo W01';
  font-weight: none;
}

p {
  font-family: 'Apollo W01';
  font-weight: none;
}

span#key {
  font-family: 'Apollo W01';
  font-weight: none;
  padding-right: 2px;
}

.lead {
  font-family:'UniversLTW01-53ExObl';
  font-weight: none;
}

.chat > div {
  height: 450px;
}

@media only screen and (max-width: 1330px) {

}
@media only screen and (max-width: 780px) {
  .buffer {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  .buffer {
    display: none;
  }
  .side {
    display: none;
  }
}



