<!DOCTYPE html>
<html>
<head>
    <title>About This Project</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/cf720352-7469-48e7-8e54-76c84eab706f.css"/>
    <link href="../static/css/kube.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/cf720352-7469-48e7-8e54-76c84eab706f.css"/>
</head>
<body>
    <div class="units-row buffer">
        <div class="unit-100"></div>
    </div>
    <div class="units-row title">
        <div class="unit-10 side">
        </div>
        <div class="unit-60">
            <h1>About</h1>
        </div>
        <div class="unit-30 side"></div>
    </div>
    <div class="units-row navigation">
        <div class="unit-80">
            <nav class="navbar navbar-right">
                <ul>
                    <li><a class="nav" href="{{ url_for('chat') }}"/>Chat</a></li>
                    <li><a class="nav" href="{{ url_for('about') }}"><span>About This Project</span></a></li>
                    <li><a class="nav" href="{{ url_for('classifiers') }}"/>The Classifiers</a></li>
                    <li><a class="nav" href="{{ url_for('maker') }}">Meet the Maker</a></li>
                </ul>
            </nav>
        </div>
        <div class="unit-20"></div>
    </div>
    <div class="units-row chat">
        <div class="unit-10 side"></div>
            <div class="unit-80 content">
                <h3>The Project</h3>
                <p class="lead">Who is Bob?</p>
                <p>Wilhelm "Bobnut" DeKokosnoot (aka Bob) is a chat bot that uses natural language processing and machine learning to respond to the contextual polarity of the messages in a chatroom. Bob appears as any other user to chatroom participants. In order to do this, a client socket had to be built to send and receive messages using the Internet Chat Relay (IRC) protocol. All messages received through the socket are sent to Bob who sorts them and sends the appropriate output back.</p>
                <p>Programmed in Python, Bob uses a machine learning classifier to categorize the messages received in the chatroom as either positive or negative in sentiment. It is currently trained on a corpus of movie reviews provided by Cornell University. The first classifier built was the naive Bayes which produced a 60% accuracy rate. Bob is now running on a Fisher classifier with 65% accuracy. For a more detailed description of the differences between the two classifiers, please see <a class="nav" href="{{ url_for('classifiers') }}">this page</a>.</p>
                <p class="lead">The Website</p>
                <p>The website you are on is running on Flask, deployed on Heroku, and is monitored by New Relic analytics. Its clean, modern look was designedusing the Kube CSS framework as well as custom elements. </p> 
                <p class="lead">Chat with Bob</p>
                <p>To chat with Bob, visit <a class="nav" href="{{ url_for('chat') }}">the chat page</a>. The chat client you will be using is powered by KiwiIRC. Choose an available nickname and click "start". Bob will be there to greet you and you can begin chatting with him. As you send Bob messages, he will respond to their sentiment. Bob loves a good knock knock joke. Be sure to tell him one or two while chatting.</p>
                <p class="lead">Next Steps</p>
                <p></p>
                <h3>Resources</h3>
                <p class="lead">Websites, projects, and tutorials that helped in making the bot<p>
                <p><a class="nav" href="http://www.cs.cornell.edu/people/pabo/movie-review-data/">Polarity Dataset v2.0</a></p>
            </div>
        <div class="unit-10 side"></div>
    </div>
</body>
</html>
