<!DOCTYPE html>
<html>
<head>
    <title>About This Project</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/cf720352-7469-48e7-8e54-76c84eab706f.css"/>
    <link href="../static/css/kube.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/cf720352-7469-48e7-8e54-76c84eab706f.css"/>
</head>
<body>
    <div class="units-row buffer">
        <div class="unit-100"></div>
    </div>
    <div class="units-row title">
        <div class="unit-10 side">
        </div>
        <div class="unit-60">
            <h1>About This Project</h1>
        </div>
        <div class="unit-30 side"></div>
    </div>
    <div class="units-row navigation">
        <div class="unit-80">
            <nav class="navbar navbar-right">
                <ul>
                    <li><a class="nav" href="{{ url_for('chat') }}"/>Chat</a></li>
                    <li><a class="nav" href="{{ url_for('classifiers') }}"/><span>About This Project<span></a></li>
                    <li><a class="nav" href="{{ url_for('maker') }}">Meet the Maker</a></li>
                </ul>
            </nav>
        </div>
        <div class="unit-20"></div>
    </div>
    <div class="units-row chat">
        <div class="unit-10 side"></div>
            <div class="unit-80 content">
                <h3>The Project</h3>
                <p class="lead">This is where we'll introduce the project<p>
                <p>Continue talking about the project here</p>
                <h3>The Classifiers Used</h3>
                <p class="lead">The Naive Bayes classifier</p>
                <p>Talk about the classifier here...</p>
                <p class="lead">The Fisher classifier</p>
                <p>Talk about the classifier here...</p>
                <h3>Compare the classifiers</h3>
                <div id="choices">
                    <p class="instructions">Click on an example below to see how the classifiers stack up against these Michiko Kakutani book reviews.</p>
                    <ul class="forms-list">
                        <li class="quote">
                            <blockquote class="examples">Although Mr. Delillo extracts considerable suspense from his story, while building a Pinteresque sense of dread, there is something suffocating and airless about his entire production.</blockquote>
                                    <small>Michiko Kakutani</small> &mdash; <cite>"Make War. Make Talk. Make It All Unreal" The New New York Times 1 Feb. 2010</cite><br><br></label>
                        </li>
                        <li class="quote">
                            <blockquote class="examples">Although some chapters in this book start with annoying passages detailing the Gardener's ecological credo, Ms. Atwood largely refrains from the sort of proselytizing that tarnished her earlier ventures into science fiction.</blockquote>
                                    <small>Michiko Kakutani</small> &mdash; <cite>"A Familiar Cast of Fighters in the Final Battle for the Sould of the Earth" The New York Times 14 Sept. 2009</cite><br><br></label>
                        </li>
                        <li class="quote">
                            <blockquote class="examples">Instead this cringe-making novel takes the sappy contrivances of his 2001 book, "How to be Good," to an embarrassing new low."</blockquote>
                                <!-- to cite a review: Meier, Barry. "Energy Drinks Promise Edge, but Experts Say Proof Is Scant." New York Times 1 Jan. 2013 -->
                                    <small>Michiko Kakutani</small> &mdash; <cite>"Misery's Company for a Confederacy of Depressives in London" The New York Times 20 Jun. 2005</cite><br><br></label>
                        </li>
                    </ul>
                </div>
                <div id="retrieved">
                    <blockquote> {{message}} </blockquote>
                    <p>The bot identified the following features from the example:<p>
                    {%for feature in features %}
                    <span id="key">{{feature}}</span>
                    {% endfor %}
                    <div class="units-row classifiers">
                        <div class="unit-50 classifier" id="Thomas">
                            <div class="title-box"><h5>The Bayes Classifier</h5></div>
                            <div id="example">
                                    <p>{{bayesclassification}}</p>
                            </div>
                        </div>    
                        <div class="unit-50 classifier" id="Ronald">
                            <div class="title-box"><h5>The Fisher Classifier</h5></div>
                            <div id="example">
                            <p>{{fisherclassification}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="unit-10 side"></div>
    </div>
    <script src="../static/js/jquery-2.1.0.min.js"></script>
    <script src="../static/js/application.js"></script>
</body>
</html>
