<!DOCTYPE html>
<html>
<head>
    <title>About This Project</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/cf720352-7469-48e7-8e54-76c84eab706f.css"/>
    <link href="../static/css/kube.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/cf720352-7469-48e7-8e54-76c84eab706f.css"/>
</head>
<body>
    <div class="units-row buffer">
        <div class="unit-100"></div>
    </div>
    <div class="units-row title">
        <div class="unit-10 side">
        </div>
        <div class="unit-60">
            <h1>About This Project</h1>
        </div>
        <div class="unit-30 side"></div>
    </div>
    <div class="units-row navigation">
        <div class="unit-80">
            <nav class="navbar navbar-right">
                <ul>
                    <li><a class="nav" href="{{ url_for('chat') }}"/>Chat</a></li>
                    <li><a class="nav" href="{{ url_for('classifiers') }}"/><span>About This Project<span></a></li>
                    <li><a class="nav" href="{{ url_for('maker') }}">Meet the Maker</a></li>
                </ul>
            </nav>
        </div>
        <div class="unit-20"></div>
    </div>
    <div class="units-row chat">
        <div class="unit-10 side"></div>
            <div class="unit-80 content">
                <h3>The Project</h3>
                <p class="lead">This is where we'll introduce the project<p>
                <p>Continue talking about the project here</p>
                <h3>The Classifiers Used</h3>
                <div class="units-row classifiers">
                    <div class="unit-50 classifier" id="Ronald">
                        <div class="title-box"><p class="lead">The Fisher Classifier</p></div>
                        <div id="example">
                        <!--message=message, features=features, 
                            probability_of_negative=probability_of_negative, 
                            probability_of_positive=probability_of_positive,
                            classification=classification) -->
                            <p>{{message}}</p>
                            {%for key, value in features.iteritems() %}
                            <span id="key"><p>{{key}}</p></span>
                            {% endfor %}
                            <p>{{probability_of_positive}}% positive<br>
                               {{probability_of_negative}}% negative</p>
                            <p>{{classification}}</p>
                        </div>
                    </div>
                    <div class="unit-50 classifier" id="Thomas">
                        <div class="title-box"><p class="lead">The Bayes Classifier</p></div>
                        <div id="example">
                        <!--message=message, features=features, 
                            probability_of_negative=probability_of_negative, 
                            probability_of_positive=probability_of_positive,
                            classification=classification) -->
                            <p>{{message}}</p>
                            {%for key, value in features.iteritems() %}
                            <span id="key"><p>{{key}}</p></span>
                            {% endfor %}
                            <p>{{probability_of_positive}}% positive<br>
                               {{probability_of_negative}}% negative</p>
                            <p>{{classification}}</p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="unit-10 side"></div>
    </div>
    <script src="../static/js/jquery-2.1.0.min.js"></script>
    <script src="../static/js/application.js"></script>
</body>
</html>
