<!DOCTYPE html>
<html>
<head>
    <title>Meet Bob</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/css/kube.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/cf720352-7469-48e7-8e54-76c84eab706f.css"/>
</head>
<body>
    <div class="units-row" id="top">
        <div class="unit-30">
            <img id="robot" src="../static/img/robot.png">
        </div>
        <div class="unit-70"><h1 id="flashlight">
            <span id="light">Chat with Bob</span></h1>
        </div>
    </div>
    <div class="units-row">
        <div class="unit-40">
            <iframe src="https://kiwiirc.com/client/irc.kiwiirc.com/?nick=yournickna|?&theme=mini##hbtestbot" style="border:0; width:100%; height:450px;"></iframe>
        </div>
        <div class="unit-30">
            <!--message=message, features=features, 
                            probability_of_negative=probability_of_negative, 
                            probability_of_positive=probability_of_positive,
                            classification=classification) -->
            <div class="red-button">Click to See How Bob Works</div>
            <div class="sidebar">
                <h2>Message</h2>
                <div class="sidebar2">
                    <p> {{message}} </p>
                </div>
            </div>
            <div class="sidebar">
                <h2>Features</h2>
                <div class="sidebar2">
                    {%for key, value in features.iteritems() %}
                        <p> {{key}} <p>
                    {% endfor %}
                </div>
            </div>
            <div class="sidebar">
                <h2>Probability</h2>
                <div class="sidebar2">
                    <p> Bob determined that the message was {{probability_of_negative}}% likely to be negative </p>
                    <p> Bob determined that the message was {{probability_of_positive}}% likely to be positive </p>
                </div>
            </div>
            <div class="sidebar">
                <h2>Classification</h2>
                <div class="sidebar2">
                    <p> Therefore, Bob determined that the 
                        message was {{classification}}</p>
                </div>
            </div>
            <div class="sidebar">
                <h2>Was Bob Mistaken?</h2>
                <div class="sidebar2"></div>
            </div>
        </div>
    </div>
    <footer>copyright 2014</footer>
</body>
</html>
