<!DOCTYPE html>
<html>
<head>
    <title>Meet Bob</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../static/css/kube.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">
</head>
<body>
    <div class="units-row">
        <div class="unit-100" id="title"><!-- Title here --></div>
    </div>
    <div class="units-row">
        <div class="unit-70">
            <iframe src="https://kiwiirc.com/client/irc.kiwiirc.com/?nick=yournickna|?&theme=mini##hbtestbot" style="border:0; width:100%; height:450px;"></iframe>
        </div>
        <div class="unit-30">
            <!--message=message, features=features, 
                            probability_of_negative=probability_of_negative, 
                            probability_of_positive=probability_of_positive,
                            classification=classification) -->
            <div class="sidebar">
                <h2>See How Bob Works</h2>
                <div class="sidebar2">
                    <p> {{message}} </p>
                </div>
            </div>
            <div class="sidebar">
                <h2>Features</h2>
                <div class="sidebar2">
                    {%for key, value in features.iteritems() %}
                        <p> {{key}} <p>
                    {% endfor %}
                </div>
            </div>
            <div class="sidebar">
                <h2>Probability</h2>
                <div class="sidebar2">
                    <p> Bob determined that the message was {{probability_of_negative}}% likely to be negative </p>
                    <p> Bob determined that the message was {{probability_of_positive}}% likely to be positive </p>
                </div>
            </div>
            <div class="sidebar">
                <h2>Classification</h2>
                <div class="sidebar2">
                    <p> Therefore, Bob determined that the 
                        message was {{classification}}</p>
                </div>
            </div>
            <div class="sidebar">
                <h2>Was Bob Mistaken?</h2>
                <div class="sidebar2"></div>
            </div>
        </div>
    </div>
    <footer>copyright 2014</footer>
</body>
</html>
