<!DOCTYPE html>
<html>
<head>
    <title>Chat with Bob</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/cf720352-7469-48e7-8e54-76c84eab706f.css"/>
    <link href="../static/css/kube.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/cf720352-7469-48e7-8e54-76c84eab706f.css"/>
</head>
<body>
    <div class="units-row buffer">
        <div class="unit-100"></div>
    </div>
    <div class="units-row title">
        <div class="unit-10 side">
        </div>
        <div class="unit-60">
            <h1>Meet the Maker</h1>
        </div>
        <div class="unit-30 side"></div>
    </div>
    <div class="units-row navigation">
        <div class="unit-80">
            <nav class="navbar navbar-right">
                <ul>
                    <li href="url_for({{chat}})"><span>Chat</span></li>
                    <li href="url_for({{classifiers}})">About This Project</li>
                    <li href="url_for({{maker}})"><span>Meet The Maker<span></li>
                </ul>
            </nav>
        </div>
        <div class="unit-20"></div>
    </div>
    <div class="units-row chat">
        <div class="unit-10 side"></div>
        <div class="unit-80">
            <p class="lead">Introduce myself</p>
            <p>Continue...</p>
        </div>
        <div class="unit-10 side"></div>
    </div>
</body>
</html>