<p class="instructions">For the message you selected -- </p>
<blockquote> {{message}} </blockquote>
<p class="instructions">The classifier has identified these features -- <p>
<div id="features">
    {%for feature in features %}
    <span class="key">{{feature}}</span>
    {% endfor %}
</div>
<p class="instructions">From these features, the classifiers have concluded that the message belongs to the following categories -- </p>
<div class="units-row classifiers">
    <div class="unit-50 classifier" id="Thomas">
        <div class="title-box"><h5 class="classifier-title">The Bayes Classifier</h5></div>
        <div class="example">
                <p>{{bayesclassification}}</p>
        </div>
    </div>    
    <div class="unit-50 classifier" id="Ronald">
        <div class="title-box"><h5 class="classifier-title">The Fisher Classifier</h5></div>
        <div class="example">
        <p>{{fisherclassification}}</p>
        </div>
    </div>
</div>
