 <head>
    <link href="../static/css/robot.css" rel="stylesheet">
 </head>
 <body>
    <div id="android">        
        <div id="antenna"><div id="left_antenna"></div><div id="right_antenna"> </div></div> <div id="head"><div id="left_eye"> </div><div id="right_eye"> </div></div>          
        <div id="upper_body"><div id="left_arm"> </div><div id="torso"> </div><div id="right_arm"> </div></div>                    
        <div id="lower_body"><div id="left_leg"></div><div id="right_leg"> </div></div>  
    </div>
</body>